
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Logs and debug
*.log
logs/

# Python virtual environments
.venv/
env/
venv/

# OS files
.DS_Store
Thumbs.db

# Archives
*.tar.gz
*.zip

# Documentation
*.pdf

# Swifty deployment
/var/www/html/oprepo
